.pos{
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    display: block;
    z-index: 9999;
}


.preview__header {
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    line-height: 40px;    
    margin-bottom: 0px;
 

}
.logo{
    margin-left: 50px;
    display: inline;
}


.evanto{
    color: white;
    font-size: 40px;
}
.market{
    color: #82b440;
    font-size:30px;
    margin-bottom: 5px;
}

.buynow{
    margin-left: 1100px;
}
.buy-now{
    background-color: #82b440;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 1.5;
    color: white;
    border: 0px;
    margin-bottom: 7px;
}




.preview__nav {
    font-size: 12px;
    height: 54px;
    background-color: white;
    z-index: 100;
    line-height: 40px;    
    margin-bottom: 30px;
    padding-bottom: 80px;
    

}

.list{
    margin-left: 200px;
    font-size: 18px;
    text-transform: capitalize;
    line-height: 50px;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

.nav-link{
    color: #1c1c1c;
    margin-left: 30px;
}
.navbar-brand{
    margin-left: 175px;
}


.r1{
    background-color:lavender;
    margin-bottom: 200px;
    margin-top: 200px;


}
.we{
    font-size: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    color: #7153d9;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 40px;

}
.wet{
    font-size: 72px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.16;
    color: #1c1c1c;

}
.desc{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    color: #54545f;
    margin-top: 30px;
    max-width: 510px;
    margin-bottom: 60px;
}



  .read-more{
    background-color: #4526b1;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 45px;
    line-height: 1.5;
    color: white;
    border: 0px;
}  
   
.dot{
    margin-top: 40px;
    padding-bottom: 30px;
}
.circle {

    margin-left: 300px;
    margin-top: 30px;
  }

.award-thumb {
    right: -35px;
    top: 0;
    width: 170px;
    height: 170px;
    padding: 15px;
    position: absolute;
    top: 24px;
    right: -120px;
    width: 190px;
    height: 190px;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.award-thumb-text {
    margin-top: 15px;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #1c1c1c;
    line-height: 1.3;
    text-align: center;
}

.slider-thumb {
    width: 240px;
    height: 120px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 5px 0 90px rgba(2, 24, 93, 0.08);
    position: absolute;
    left: 10px;
    bottom: 225px;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.number {
    font-size: 60px;
    line-height: 1;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    color: #7153d9;
    background: -webkit-linear-gradient(-45deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text {
    margin-left: 15px;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #1c1c1c;
    line-height: 1.3;
    text-align: start;
}

.solution-icon {
    height: 98px;
    max-width: 98px;
    width: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    background-color: #f2f5fb;
}
.rcard{
    margin-bottom: 100px;
}

.cardss{
    
    flex: 0 0 auto;
    width: 33.3333333333%;
    border: 1px solid white(0,0,0,0);

}
.solution-content {
    width: calc(100% - 98px);
    margin-top: 10px;
}
.solution-content .title {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    color: #1c1c1c;
    font-weight: 500;
    margin-bottom: 25px;
  }
.solution-content .text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.666;
    margin-bottom: 0;
  }  


.solution-single {
    display: flex;
  }

.imgabout{
    width: 100%;
}

.about-three-feature {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 0;
}
.about-three-feature .feature-column {
    display: flex;
  }

  .about-three-feature .feature-column-content .title {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    color: #1c1c1c;
    margin-bottom: 60px;
    margin-left: 20px;
  }
 
  

.funfact {
    background-color: #4526b1;
    padding-bottom: 271px;
    padding-top: 150px;
    margin-top: 100px;
    height: 100px;


}

.ntotal{
    font-size: 72px;
    font-weight: 500;
    line-height: 1;
    color: white;
    font-family: "Jost", sans-serif;
    padding-right: 3px;
    overflow: hidden;
}
.increment {
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-top: -25px;
    margin-left: 6px;
  }

.texttotal {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 1.3;
    margin-bottom: 0px;
  }  

.funfact-content {
    margin-left: 30px;
  }  

  .funfact .funfact-content .text {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: white;
    line-height: 1.3;
    margin-bottom: 0px;
  }
  
.funfact-inner {
    display: flex;
    align-items: center;  
}

.funfact-single{
    display: flex;
}

ul {
    margin: 0px;
    padding: 0px;
  }

.descli{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #54545f;
    line-height: 1.66;
    margin-bottom: 20px;
    position: relative;

}


.service{
    margin-bottom: 90px;
    margin-top: 100px;
    
}
.ll{
    font-size: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    color: #7153d9;
    text-transform: uppercase;
    letter-spacing: 8px;
    }

.text {
    max-width: 680px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #8d8e99;
    margin-top: 30px;
    text-align: center;
  }
      
 
.single-service {
    padding: 57px;
    border-top: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 12px 42px rgba(69, 38, 177, 0.1), 11px 6px 25px rgba(69, 38, 177, 0.1);
    padding: 70px;
    z-index: 1;
    height: 384px;
    margin-bottom: 40px;
}

.aaa{
    color: black;
    font-family: "Jost", sans-serif;
    
}

.single-service-top {
    display: flex;
    align-items: center;
    padding-bottom: 50px;

}
.stitle{
    padding-left: 45px;

}

.readmore-btn i {
    color: #7153d9;
  }

  .single-service .readmore-btn {
    font-size: 18px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    color: #1c1c1c;
    margin-top: 30px;
    display: block;
  }
  
  .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
  .textamazing {
    max-width: 680px;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #8d8e99;
    margin-top: 30px;  
  }

  .imgamazing{
    margin-top: 250px;
  }

  .wehere{
    margin-top: 150px;
    margin-bottom: 120px;
    background-color: #5435be;
    height: 400px;
    border-radius: 20px;
  }

.titlewehere{
    margin-top: 100px;
    margin-left: 30px;
    color: white;
    text-transform: uppercase;
    }



.readmore2{
    background: #e2c4ff;
    color: #1c1c1c;
    border-radius: 30px;
    font-size: 16px;
    padding: 20px 45px;
    line-height: 1.5;
    border: 0px;
} 


.about-four-thumblist {
    display: flex;
    align-items: flex-start;
    gap: 35px;
  }
  .about-four-video {
    position: relative;
    max-width: 272px;
    width: 100%;
  }
  .about-four-video .video-popup {
    height: 75px;
    width: 75px;
    background: #e2c4ff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #7153d9;
    transition: 0.5s;
  }
  
  
  .about-four-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }
  .textcheck {
    font-size: 18px;
    color: #6f6982;
    margin-top: -10px;
    margin-left: 20px;
  }

  .about-four {
    background: #f2f5fb;
  }
.all-boost-image{
  margin-top: 150px;
  margin-bottom: 150px;
}
  .boost-image {
    min-height: 700px;
    position: relative;
    margin-right: 110px;
    min-height: 650px;
  }

  .boost-image-one {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .boost-image-two {
    left: -38%;
    position: absolute;
    z-index: 3;
    margin-top: 379px;
  }

  .boost-image-shape {
    position: absolute;   
    z-index: 1;
    margin-left: 140px;
    margin-top: 366px;
  }

  .boost-image-badge {
    left: -38%;
    top: 35%;
  }
  .boost-image-badge {

    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    border: 0px;
    border-radius: 10px;
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
  }
  .section-head .subtitle {
    font-size: 18px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.9;
    color: #7153d9;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .section-head .title {
    font-size: 60px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    line-height: 1.16;
    color: #1c1c1c;
  }
  .section-head .text {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.5;
    color: #8d8e99;
    margin-top: 30px;
    max-width: 510px;
    margin-left: -10px;
  }

  .section-head .text-two {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #54545f;
    margin-top: 40px;
  }


.boost-feature-title {
    font-family: "Jost", sans-serif;
    font-size: 21px;
    font-weight: 500;
    color: #1c1c1c;
    margin-top: 30px;
  }
.boost-feature-img {
    display: flex;
    align-items: center;
    min-height: 60px;
  }
.boost-feature-single {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}